h3 {
  color: firebrick;
  font-size: 40px;
  text-decoration: black dotted underline;
  letter-spacing: 2px;
  word-spacing: -2px;
  text-shadow: 0 0 8px;
}


body {
  background-color: lightblue;
}
